.leaflet-control-layers-group-name {
    color:black;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
    font-size:130%;
    font-weight:900;
  margin-bottom: .1em;
  text-transform: uppercase;
  text-decoration: underline;
}

.leaflet-control-layers-group {
  margin-bottom: .5em;
}

.leaflet-control-layers-group label {
  padding-left: .2em;
}